.array-container {
  /* position: absolute;
  top: 50%;
  left: 100px; */
  position: fixed;
  bottom: 10%;
  width: 100%;
}

.array-bar {
  width: 2px;
  background: turquoise;
  display: inline-block;
  margin: 0 1px;
}
